@import "../../../../../shared/styles/shared.styles.scss";

:host ::ng-deep {
    .mat-form-field {
        width: 500px;
    }

    .mat-input-element {
        height: 24px;
    }

    .search-paginator {
        margin: 0px 0px 0px auto;
        width: 340px;
    }

    .mat-paginator-range-label {
        margin: 0px;
    }

    .mat-form-field {
        width: 48px;
    }

    .example-full-width {
        width: 300px;
    }
}

.search-form {
    display: flex;
    justify-content: center;
}

.cards-wrap {
    @include cardsWrap;
}

.card {
    @include card;
}

.link-to-photo {
    width: auto;
    max-height: 100%;
}

.img-item {
    @include imgSize;
}

.title {
    @include cardTitile;
}
